.header {
  position: relative;

  // background-color: #C9E6F3;

  &__container {
    position: absolute;
    left: 50%;
    bottom: 100px;
    width: 100%;
    transform: translateX(-50%);

  }

  &__banner {
    width: 100%;
    display: flex;

    // position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;
    // z-index: -1;

    &-img {
      width: 100%;
      // max-height: 1355px;
    }
  }

  &__nav {
    // padding-top: 1192px;
    // padding-bottom: 74px;
  }

    &__list  {
      margin: 0;
      display: flex;
      justify-content: space-around;

      @include tablet {
       flex-wrap: wrap;
      }

      &-item {
        font-family: DS Goose;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        // color: var(--como);
        list-style: none;
        margin-right: 50px;

        &-1{
          transform: rotate(-0.878deg)
        }

        &-2 {
          transform: rotate(2.27deg);
        }

        &-3 {
          transform: rotate(-0.887deg)
        }

        &-4 {
          transform: rotate(-4.319deg);
        }

        &-5 {
          transform: rotate(2.576deg);
        }

        @include tablet {
          margin-bottom: 76px;
          flex-basis: 22%;
        }

      }

      &-link {
        background-color:var(--light-color);
        border-radius: 40px;
        color: var(--como);

        &-1 {
          padding: 17px 77px;
        }

        &-2 {
          padding: 17px 22px;
        }

        &-3 {
          padding: 17px 103px;
        }

        &-4 {
          padding: 23px 107px;
        }

        &-5 {
          padding: 19px 75px;
        }
      }



    }


}


