.services {

  background-image: url('/img/services.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 120px;


  @include mobile {
    padding-bottom: 1px;
  }


  &__title {
    color: var(--light-color);
    text-align: center;
    font-family: DS Goose;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
    padding-top: 93px;
    margin-bottom: 100px;

    @include mobile {
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-top: 50px;
    }
  }

  &__cards {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &-list {

      position: relative;
      width: 868px;
      border-radius: 30px;
      border: 5px solid var(--sweet-corn);
      background: var(--como);
      padding: 90px 20px 45px 25px;
      margin-bottom: 130px;

      &-title {
        position: absolute;
        margin: 0;
        top: -14%;
        left: 14%;
        text-transform: capitalize;
        width: 480.625px;
        height: 112.22px;
        transform: rotate(-2.393deg);
        border-radius: 55px;
        background: var(--light-color);
        color: var(--como);
        text-align: center;
        font-family: DS Goose;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 43px;
        padding: 40px 10px;
        margin: 0;

        &-one {
          transform: rotate(1.35deg);
        }

        &-two {
          color: var(--como);
          text-align: center;
          font-family: DS Goose;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 43px;
          text-transform: capitalize;
          transform: rotate(2.14deg);

          @include mobile {
            height: 120px;
          }
        }

        &-three {
          color: var(--como);
          text-align: center;
          font-family: DS Goose;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 43px;
          text-transform: capitalize;
          transform: rotate(-1.78deg);

          @include mobile {
            font-size: 31px;
            height: 120px;
          }
        }

        @include mobile {
          font-size: 47px;
          width: 379.625px;
          height: 87.22px;
          padding: 20px 28px;
        }
      }

      &-descr {
        color: var(--light-color);
        text-align: center;
        font-family: Halogen;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        margin: 0;

        @include mobile {
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  &__extra {
    position: relative;
    border-radius: 30px;
    border: 5px solid var(--sweet-corn);
    background: var(--como);
    padding: 80px 20px 60px 20px;
    margin-bottom: 120px;

    &-title {
      position: absolute;
      top: -19%;
      left: 10%;
      color: var(--como);
      text-align: center;
      font-family: DS Goose;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      transform: rotate(0.481deg);
      border-radius: 55px;
      background: var(--light-color);
      padding: 31px 60px 30px 36px;
      width: 1550px;
      transform: rotate(0.481deg);

      @include mobile {
        font-size: 30px;
        width: 720px;
        padding: 14px 12px 13px 24px;
        top: -28px;
      }

      &-one {
        font-size: 60px;
        padding: 17px 30px 17px 30px;
        top: -15%;
        transform: rotate(-0.534deg);

       @include mobile {
        font-size: 33px;
        top: -40px;
       }
      }
    }

    &-descr {
      color: var(--light-color);
      text-align: center;
      font-family: Halogen;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px;
      margin: 0;

      @include mobile {
        font-size: 30px;
      }
    }

    &-list {

      display: flex;
      flex-wrap: wrap;
      color:var(--light-color);
      text-align: center;
      font-family: Halogen;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 70px;
      list-style: none;
      margin: 0;

      @include mobile {
        font-size: 30px;
       line-height: 48px;

      }

      &-item {
        flex-basis: 50%;
        background-image: url('/img/services-svg.svg');
        background-repeat: no-repeat;
        background-position: 0 43%;
      }
    }
  }


}







