.services {

  background-image: url('/img/services.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 120px;


  @include mobile {
    padding-bottom: 1px;
  }


  &__title {
    color: var(--light-color);
    text-align: center;
    font-family: DS Goose;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
    padding-top: 93px;
    margin-bottom: 100px;

    @include mobile {
      font-size: 30px;
      padding-top: 30px;
      margin-bottom: 25px;
    }
  }

  &__cards {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &-list {

      position: relative;
      width: 868px;
      border-radius: 30px;
      border: 5px solid var(--sweet-corn);
      background: var(--como);
      padding: 90px 20px 45px 25px;
      margin-bottom: 130px;

      @include mobile {
        padding: 15px 3px 9px 5px;
        margin-bottom: 30px;
      }

      &-title {
        position: absolute;
        margin: 0;
        top: -7%;
        left: 14%;
        text-transform: capitalize;
        width: 480.625px;
        height: 112.22px;
        transform: rotate(-2.393deg);
        border-radius: 55px;
        background: var(--light-color);
        color: var(--como);
        text-align: center;
        font-family: DS Goose;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 43px;
        padding: 40px 10px;
        margin: 0;

        &-one {
          transform: rotate(1.35deg);
          top: -6%;
        }

        &-two {
          color: var(--como);
          text-align: center;
          font-family: DS Goose;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 43px;
          text-transform: capitalize;
          transform: rotate(2.14deg);
          top: -7%;

          @include mobile {
           top: -5%;
          }
        }

        &-three {
          color: var(--como);
          text-align: center;
          font-family: DS Goose;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 43px;
          text-transform: capitalize;
          transform: rotate(-1.78deg);

          @include mobile {
            font-size: 31px;
            height: 120px;
          }
        }

        @include mobile {
          font-size: 17px;
          width: 207.42px;
          height: 31.112px;
          padding: 5px 5px 5px 5px;
          line-height: 23px;
          top: -9%;
        }

        &-four {
          top: -63px;

          @include mobile {
            top: -10%;
          }
        }

        &-five {
          @include mobile {
            top: -6%;
          }
        }
      }

      &-descr {
        color: var(--light-color);
        font-family: Halogen;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        margin: 0;

        @include mobile {
          font-size: 17px;
          line-height: normal;
          padding-top: 15px;
        }

      }
    }
  }

  &__extra {
    position: relative;
    border-radius: 30px;
    border: 5px solid var(--sweet-corn);
    background: var(--como);
    padding: 80px 20px 60px 20px;
    margin-bottom: 120px;

    @include mobile {
      padding: 23px 6px;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }

    &-title {
      position: absolute;
      top: -19%;
      left: 10%;
      color: var(--como);
      text-align: center;
      font-family: DS Goose;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transform: rotate(0.481deg);
      border-radius: 55px;
      background: var(--light-color);
      padding: 31px 60px 30px 36px;
      width: 1550px;
      transform: rotate(0.481deg);

      @include tablet {
        font-size: 30px;
        width: 84%;
      }

      @include mobile {
        font-size: 16px;
        width: 266px;
        padding: 5px 10px 4px 10px;
        top: -23px;
      }

      &-one {
        font-size: 60px;
        padding: 17px 30px 17px 30px;
        top: -15%;
        transform: rotate(-0.534deg);

       @include mobile {
        font-size: 16px;
        line-height: 16px;
        top: -22px;
        padding: 8px 0px 8px 0px;
        width: 248px;
        left: 9%;
       }
      }

      &-two {

        @include mobile {
          font-size: 15px;
          line-height: 16px;
          top: -22px;
          padding: 9px 4px 8px 0px;
          width: 307px;
          left: 4%;
        }
      }
    }

    &-descr {
      color: var(--light-color);
      text-align: center;
      font-family: Halogen;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px;
      margin: 0;

      @include mobile {
        font-size: 17px;
        line-height: 22px;
        padding-top: 15px;
      }
    }

    &-list {

      display: flex;
      flex-wrap: wrap;
      color:var(--light-color);
      text-align: center;
      font-family: Halogen;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 70px;
      list-style: none;
      margin: 0;

      @include mobile {
        font-size: 15px;
        line-height: 17px;
        padding-left: 25px;
      }

      &-item {
        flex-basis: 50%;
        background-image: url('/img/services-svg.svg');
        background-repeat: no-repeat;
        background-position: 0 43%;

        &-one {
          background-position: 0 11%;
        }

        &-two {
          background-position: 0 15%;
        }


        @include mobile {
          background-size: 10px;
          flex-basis: 100%;
        }
      }
    }
  }


}







