<section class="about" id="about">
  <div class="about__container container">
    <h2 class="about__title" >О центре</h2>
    <p class="about__content">
      Детский развивающий центр – это будущее ребёнка. Именно в детском центре помогают ребёнку раскрыть свои возможности и таланты, учат необходимому и способствуют гармоничному всестороннему развитию малыша, а родителям дают консультации специалистов по всем вопросам. Центры раннего развития детей – это развитие с самого раннего возраста. Это уникальное место, где можно найти ответы на все вопросы и получить бесценный жизненный опыт.
    </p>
  </div>
</section>



