<section class="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__title">Как с нами связаться</h2>
    <div class="contacts__wrapper">
      <div class="contacts__map">
        <iframe class="contacts__map-settings" src="https://yandex.ru/map-widget/v1/?um=constructor%3Abaaaf76e0d9af589ca46f82cd6d0e302bd6c6d96aced85da79280f94244fcbaf&amp;source=constructor" width="1300" height="660" frameborder="0"></iframe>
      </div>
      <div class="contacts__form">
        <form action="" method="POST" class="contacts__form-data">
            <h3 class="contacts__form-title">Оставить заявку</h3>
            <input class="contacts__form-input form-name" type="text" name="username" placeholder="Имя и Отчество" >
            <input class="contacts__form-input form-phone" type="phone" name="phone" placeholder="Ваш номер телефона">
            <button class="contacts__form-input contacts__form-input-one  btn-reset" type="submit" >Записаться</button>
        </form>

        <a class="contacts__phone" href="tel:+79645734411">+79645734411</a>

      </div>

    </div>
  </div>
</section>




