<section class="contacts" id="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__title">Как с нами связаться</h2>
    <div class="contacts__wrapper">
      <div class="contacts__map">
        <p class="contacts__map-adress">
          Наш адрес: ул. Липецкая д. 20 корпус 2
        </p>
        <iframe class="contacts__map-settings" src="https://yandex.ru/map-widget/v1/?um=constructor%3Abaaaf76e0d9af589ca46f82cd6d0e302bd6c6d96aced85da79280f94244fcbaf&amp;source=constructor" width="1300" height="660" frameborder="0"></iframe>
      </div>
      <div class="contacts__form">
        <form action="send.php" method="POST" class="contacts__form-data">
            <h3 class="contacts__form-title">Оставить заявку</h3>
            <input class="contacts__form-input form-name" type="text" name="username" placeholder="Имя и Отчество" >
            <input class="contacts__form-input form-phone" type="phone" name="userphone" placeholder="Ваш номер телефона">
            <textarea class="contacts__form-input contacts__form-input-two" name="usertext" id="" cols="0" rows="3" placeholder="Какой специалист / какая услуга Вас интересует"></textarea>

            <button class="contacts__form-input contacts__form-input-one  btn-reset" type="submit" >Записаться</button>
        </form>
      </div>

    </div>
    <a class="contacts__phone" href="tel:+79151611144"> Позвоните нам </a>
  </div>
</section>




