<header class="header">
  <picture class="header__banner">
    <source srcset="img/banner.webp" type="image/webp">
    <img loading="lazy" src="img/banner.jpg" class="header__banner-img" width="1920" height="1355" alt="картинка баннера">
  </picture>
  <div class="header__container container">
    <h1 class="visually-hidden">Заголовок</h1>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list-item header__list-item-1"><a class="header__list-link header__list-link-1" href="#about">О центре</a></li>
        <li class="header__list-item header__list-item-2"><a class="header__list-link header__list-link-2" href="#teachers">Преподаватели</a></li>
        <li class="header__list-item header__list-item-3"><a class="header__list-link header__list-link-3" href="#services">Услуги</a></li>
        <li class="header__list-item header__list-item-4"><a class="header__list-link header__list-link-4" href="#contacts">Запись</a></li>
        <li class="header__list-item header__list-item-5"><a class="header__list-link header__list-link-5" href="#contacts">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>
