<header class="header">
  <picture class="header__banner">
    <source srcset="img/banner.webp" type="image/webp">
    <img loading="lazy" src="img/banner.jpg" class="header__banner-img" width="1920" height="1355" alt="картинка баннера">
  </picture>
  <div class="header__container">
    <h1 class="visually-hidden">Заголовок</h1>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list-item"><a class="header__list-link" href="#">О центре</a></li>
        <li class="header__list-item"><a class="header__list-link" href="#">Преподаватели</a></li>
        <li class="header__list-item"><a class="header__list-link" href="#">Услуги</a></li>
        <li class="header__list-item"><a class="header__list-link" href="#">Запись</a></li>
        <li class="header__list-item"><a class="header__list-link" href="#">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>
