<section class="services" id="services">
  <div class="services__conyainer container">
    <h2 class="services__title">Услуги</h2>
    <div class="services__cards">
      <div class="services__cards-list">
        <h3 class="services__cards-list-title">Диагностика</h3>
        <p class="services__cards-list-descr">Детский развивающий центр – это будущее ребёнка. Центры раннего развития детей – это развитие с самого раннего возраста. Это уникальное место, где можно найти ответы на все вопросы и получить бесценный жизненный опыт.</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title services__cards-list-title-one">Консультация</h3>
        <p class="services__cards-list-descr">Детский развивающий центр – это будущее ребёнка. Центры раннего развития детей – это развитие с самого раннего возраста. Это уникальное место, где можно найти ответы на все вопросы и получить бесценный жизненный опыт.</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title">Психолог</h3>
        <p class="services__cards-list-descr">Детский развивающий центр – это будущее ребёнка. Центры раннего развития детей – это развитие с самого раннего возраста. Это уникальное место, где можно найти ответы на все вопросы и получить бесценный жизненный опыт.</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title services__cards-list-title-one">Дефектолог</h3>
        <p class="services__cards-list-descr">Детский развивающий центр – это будущее ребёнка. Центры раннего развития детей – это развитие с самого раннего возраста. Это уникальное место, где можно найти ответы на все вопросы и получить бесценный жизненный опыт.</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title">Логопед</h3>
        <p class="services__cards-list-descr">Детский развивающий центр – это будущее ребёнка. Центры раннего развития детей – это развитие с самого раннего возраста. Это уникальное место, где можно найти ответы на все вопросы и получить бесценный жизненный опыт.</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title services__cards-list-title-one">Нейропсихолог</h3>
        <p class="services__cards-list-descr">Детский развивающий центр – это будущее ребёнка. Центры раннего развития детей – это развитие с самого раннего возраста. Это уникальное место, где можно найти ответы на все вопросы и получить бесценный жизненный опыт.</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title services__cards-list-title-two">Подготовка к школе</h3>
        <p class="services__cards-list-descr">Детский развивающий центр – это будущее ребёнка. Центры раннего развития детей – это развитие с самого раннего возраста. Это уникальное место, где можно найти ответы на все вопросы и получить бесценный жизненный опыт.</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title services__cards-list-title-three">Каскадная релаксация</h3>
        <p class="services__cards-list-descr">Детский развивающий центр – это будущее ребёнка. Центры раннего развития детей – это развитие с самого раннего возраста. Это уникальное место, где можно найти ответы на все вопросы и получить бесценный жизненный опыт.</p>
      </div>
    </div>



    <div class="services__extra">
      <h3 class="services__extra-title services__extra-title-two">Трансформационные психологические игры для детей и их родителей</h3>
        <p class="services__extra-descr">Детский развивающий центр – это будущее ребёнка. Центры раннего развития детей – это развитие с самого раннего возраста. Это уникальное место, где можно найти ответы на все вопросы и получить бесценный жизненный опыт.</p>
    </div>
    <div class="services__extra">
      <h3 class="services__extra-title">Раннее развитие от 1 до 3 “мама и малыш”</h3>
        <p class="services__extra-descr">Детский развивающий центр – это будущее ребёнка. Центры раннего развития детей – это развитие с самого раннего возраста. Это уникальное место, где можно найти ответы на все вопросы и получить бесценный жизненный опыт.</p>
    </div>
    <div class="services__extra">
      <h3 class="services__extra-title services__extra-title-one">Образовательные программы:</h3>
        <ul class="services__extra-list">
          <li class="services__extra-list-item">корекция почерка</li>
          <li class="services__extra-list-item">чтение за 20 уроков</li>
          <li class="services__extra-list-item">счет в пределах 10, без помощи пальцев</li>
          <li class="services__extra-list-item">азбука (для детей не знающих букв)</li>
          <li class="services__extra-list-item">умножения </li>
          <li class="services__extra-list-item">учим цифры, пишем цифры</li>
        </ul>
    </div>
  </div>
</section>






