<section class="services" id="services">
  <div class="services__conyainer container">
    <h2 class="services__title">Услуги</h2>
    <div class="services__cards">
      <div class="services__cards-list">
        <h3 class="services__cards-list-title">Диагностика</h3>
        <p class="services__cards-list-descr"><b>Педагогическая диагностика детей</b> - это возможность для родителей получить независимое мнение специалиста по развитию их ребенка. Диагностика осуществляется каждым специалистом в режиме индивидуального обследования, результаты которого подробнейшим образом фиксируются в индивидуальной карте ребенка.</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title services__cards-list-title-five">Консультация</h3>
        <p class="services__cards-list-descr"><b>Консультация</b> – это процесс, в рамках которого специалист (психолог,логопед,дефектолог,нейропсихолог) предоставляет профессиональную помощь, советы и рекомендации в интересующем вопросе.  Консультация может иметь различную форму – это может быть личная встреча, телефонный звонок, видеоконференция. Консультация может быть направлена на решение определенной проблемы или на получение общей информации в определенной области.  Ее целью является помощь в разрешении ситуации или принятии решения на основе знаний и опыта педагога.</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title">Психолог</h3>
        <p class="services__cards-list-descr"> <b>Психолог</b> — это специалист, который помогает детям, подросткам и их родителям преодолеть трудные жизненные ситуации. Например, пройти школьную адаптацию.
          Однако к нему обращаются не только с проблемами, но и для просвещения. Детский психолог знает все о психологических особенностях развития и взросления. Он подсказывает родителям, как раскрыть потенциал ребенка и как создать среду, которая максимально способствует развитию его личности.</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title services__cards-list-title-one">Дефектолог</h3>
        <p class="services__cards-list-descr"><b>Дефектолог</b> - специалист, который занимается развитием интелектуальной сферы ребенка, коррекцией нарушения интелектуального развития, расщиряет представления об окружающем мире, оказывает помощь детям, испытывающим трудности в усвоении учебных навыков, а так же при отклонениях в развитии познавательных процессов</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title services__cards-list-title-four">Логопед</h3>
        <p class="services__cards-list-descr"><b>Логопед</b> – это специалист, которые занимается выявлением нарушений и исправлением речи у детей:коррекцией дисграфии у школьников, развитием фонематического слуха и восприятия у дошкольников, исправлением звукопроизношения и развитием речи. <br>
          А так же может использовать в своей деятельнсоти логопедический массаж.
          </p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title services__cards-list-title-one">Нейропсихолог</h3>
        <p class="services__cards-list-descr"><b>Нейропсихолог</b> - это клинический психолог, который специализируется на закономерностях развития нервной системы детей и взрослых.
          Нейропсихологические методы — это важнейшие инструменты определения тонких нарушений гнозиса, праксиса, речи и прочих высших функций психики. Кроме того, они позволяют достаточно точно выяснить связь данных расстройств с конкретными участками коры головного мозга.
          </p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title services__cards-list-title-two">Подготовка к школе</h3>
        <p class="services__cards-list-descr">Это комплексный процесс, в результате которого ребенок должен научиться думать, иметь воображение, развить память, уметь правильно общаться с окружающими его людьми и быть готовым решить проблему и ориентироваться в разных учебных ситуациях.</p>
      </div>
      <div class="services__cards-list">
        <h3 class="services__cards-list-title services__cards-list-title-three">Каскадная релаксация</h3>
        <p class="services__cards-list-descr">Комплекс упражнений, направленных на:<br>
          -снижение мышечного и нервного напряжения;<br>
          -снятие мышечных зажимов;<br>
          -умение чувствовать и управлять своим телом.<br>
          В результате повышается общая работоспособность организма, улучшается настроение, внутреннее спокойствие и уверенность в себе.<br>
          Курс рассчитан на 5-10 сеансов
          </p>
      </div>
    </div>
    <div class="services__extra">
      <h3 class="services__extra-title services__extra-title-two">Трансформационные психологические игры для детей и их родителей</h3>
        <p class="services__extra-descr">Трансформационные игры (ТИ) - это <b> категория групповых, индивидуальных настольных или ролевых игр, которые ориентированы на работу с личными запросами участников</b>. Например, на преодолениекризиса или сложной ситуации, нахождение оптимального решения проблемы, достижение определенных целей. Такие игры являются одним из инструментов самопознания.</p>
    </div>
    <div class="services__extra">
      <h3 class="services__extra-title">Раннее развитие от 1 до 3 “мама и малыш”</h3>
        <p class="services__extra-descr">Уникальная система развивающих занятий для малышей от 1 до 3 лет.<br>
          Основные направления:<br>
        - познавательное развитие ребенка;<br>
        - социально-эмоциональное развитие;<br>
        - речевое развитие;<br>
        - бытовые навыки;<br>
      </p>
    </div>
    <div class="services__extra">
      <h3 class="services__extra-title services__extra-title-one">Образовательные программы:</h3>
        <ul class="services__extra-list">
          <li class="services__extra-list-item services__extra-list-item-one">Корекция почерка</li>
          <li class="services__extra-list-item services__extra-list-item-two">Чтение за 20 уроков (для детей знающих буквы)</li>
          <li class="services__extra-list-item">Счет в пределах 10, без помощи пальцев</li>
          <li class="services__extra-list-item">Азбука (для детей не знающих буквы)</li>
          <li class="services__extra-list-item">Таблица умножения за 20 уроков </li>
          <li class="services__extra-list-item">Учим цифры, пишем цифры</li>
        </ul>
    </div>
  </div>
</section>






