  <section id="teachers" class="teachers">
    <div class="teachers__container container">
      <h2 class="teachers__title">Преподаватели</h2>
      <div class="teachers__wrap">
        <ul class="teachers__list">


          <li class="teachers__item">
            <div class="teachers__item-wrap">
              <svg class="teachers__item-wrap-green" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#527D5F"/>
              </svg>
              <svg class="teachers__item-wrap-pink" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#527D5F"/>
              </svg>
              <picture>
                <source srcset="img/podenko.webp" type="image/webp">
                <img loading="lazy" src="img/podenko.jpg" class="teachers__item-wrap-image" width="391" height="391" alt="фото учителя Поденко Марии Михайловны">
              </picture>

            </div>
            <p class="teachers__name">Поденко Мария Михайловна</p>
            <h4 class="teachers__subtitle">Дефектолог</h4>
            <input type="checkbox" class="teachers__check teachers__check-one" id="teachers__check-one">
            <span class="teachers__descr">- Коррекционный педагог;<br>
              - Практикующий психолог;<br>
              - Педагог развивающих программ;<br>
              - Игропрактик. Ведущая психологических трансформационных игр для взрослых и подростков;<br>
            </span>
            <label for="teachers__check-one" class="teachers__label"></label>
          </li>

          <li class="teachers__item">
            <div class="teachers__item-wrap">
              <svg class="teachers__item-wrap-green teachers__item-wrap-green-five" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#527D5F"/>
              </svg>
              <svg class="teachers__item-wrap-pink teachers__item-wrap-pink-five" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#EA8F8C"/>
              </svg>
              <picture>
                <source srcset="img/yakynina.webp"  type="image/webp">
                <img loading="lazy" src="img/yakynina.jpg" class="teachers__item-wrap-image teachers__item-wrap-image-three" width="391" height="391" alt="фото учителя Поденко">
              </picture>
            </div>
            <p class="teachers__name">Якунина Ольга Сергеевна</p>
            <h4 class="teachers__subtitle">Нейропсихолог</h4>
            <input type="checkbox" class="teachers__check teachers__check-six" id="teachers__check-six">
            <span class="teachers__descr">
              - практикующий клинический психолог <br>
              - коррекционный педагог <br>
              - игротерапевт по сенсомоторной игре для детей с РАС <br>
              - педагог развивающих программ для детей раннего возраста
            </span>
            <label for="teachers__check-six" class="teachers__label"></label>
          </li>

          <li class="teachers__item">
            <div class="teachers__item-wrap">
              <svg class="teachers__item-wrap-green" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#527D5F"/>
              </svg>
              <svg class="teachers__item-wrap-pink" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#EA8F8C"/>
              </svg>
              <picture>
                <source srcset="img/geysherik.webp" type="image/webp">
                <img loading="lazy" src="img/geysherik.jpg" class="teachers__item-wrap-image teachers__item-wrap-image-two " width="391" height="391" alt="фото учителя Гейшерик Юлии Яковлевны">
              </picture>
            </div>
            <p class="teachers__name">Гейшерик Юлия Яковлевна</p>
            <h4 class="teachers__subtitle">Логопед</h4>
            <input type="checkbox" class="teachers__check teachers__check-five" id="teachers__check-five">
            <span class="teachers__descr"> - Коррекционный педагог; <br>
              - Специалист по логопедическому массажу;
            </span>
            <label for="teachers__check-five" class="teachers__label"></label>
          </li>

          <li class="teachers__item">
            <div class="teachers__item-wrap">
              <svg class="teachers__item-wrap-green teachers__item-wrap-green-one" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#527D5F"/>
              </svg>
              <svg class="teachers__item-wrap-pink teachers__item-wrap-pink-one" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#EA8F8C"/>
              </svg>
              <picture>
                <source srcset="img/eganayn.webp" type="image/webp">
                <img loading="lazy" src="img/eganayn.jpg" class="teachers__item-wrap-image teachers__item-wrap-image-one" width="391" height="391" alt="фото учителя Еганян Светланы Анатольевны">
              </picture>
            </div>
            <p class="teachers__name">Еганян Светлана Анатольевна</p>
            <h4 class="teachers__subtitle">Нейропсихолог</h4>
            <input type="checkbox" class="teachers__check teachers__check-two" id="teachers__check-two">
            <span class="teachers__descr"> - Клинический психолог; <br>
              - Специалист по массажу; <br>
              - Арт-терапевт; <br>
              - Логопед-дефектолог; <br>
              - Коррекционный педагог; <br>
            </span>
            <label for="teachers__check-two" class="teachers__label"></label>
          </li>

          <li class="teachers__item">
            <div class="teachers__item-wrap">
              <svg class="teachers__item-wrap-green teachers__item-wrap-green-two" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#527D5F"/>
              </svg>
              <svg class="teachers__item-wrap-pink teachers__item-wrap-pink-two" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#EA8F8C"/>
              </svg>
              <picture>
                <source srcset="img/grigoreva.webp" type="image/webp">
                <img loading="lazy" src="img/grigoreva.jpg" class="teachers__item-wrap-image" width="391" height="391" alt="фото учителя Григорьевы Надежды Николаевны">
              </picture>
            </div>
            <p class="teachers__name">Григорьева Надежда Николаевна</p>
            <h4 class="teachers__subtitle">Психолог</h4>
            <input type="checkbox" class="teachers__check teachers__check-three" id="teachers__check-three">
            <span class="teachers__descr">- Педагог развивающих программ;
            </span>
            <label for="teachers__check-three" class="teachers__label"></label>
          </li>

          <li class="teachers__item">
            <div class="teachers__item-wrap">
              <svg class="teachers__item-wrap-green teachers__item-wrap-green-three" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#527D5F"/>
              </svg>
              <svg class="teachers__item-wrap-pink teachers__item-wrap-pink-three" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#EA8F8C"/>
              </svg>
              <picture>
                <source srcset="img/rodina.webp" type="image/webp">
                <img loading="lazy" src="img/rodina.jpg" class="teachers__item-wrap-image teachers__item-wrap-image-one" width="391" height="391" alt="фото учителя Родиной Марии Валерьевны">
              </picture>
            </div>
            <p class="teachers__name">Родина Мария Валерьевна</p>
            <h4 class="teachers__subtitle">Логопед</h4>
            <input type="checkbox" class="teachers__check teachers__check-four" id="teachers__check-four">
            <span class="teachers__descr">- Коррекционный педагог;<br>
              - Специалист по массажу;
            </span>
            <label for="teachers__check-four" class="teachers__label"></label>
          </li>

          <li class="teachers__item">
            <div class="teachers__item-wrap">
              <svg class="teachers__item-wrap-green teachers__item-wrap-green-four" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#527D5F"/>
              </svg>
              <svg class="teachers__item-wrap-pink teachers__item-wrap-pink-four" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="15" fill="#EA8F8C"/>
              </svg>
              <picture>
                <source srcset="img/arhipova.webp" type="image/webp">
                <img loading="lazy" src="img/arhipova.jpg" class="teachers__item-wrap-image teachers__item-wrap-image-one" width="391" height="391" alt="фото учителя Архиповой Татьяны Борисовны">
              </picture>
            </div>
            <p class="teachers__name">Архипова Татьяна Борисовна</p>
            <h4 class="teachers__subtitle">Психолог</h4>
            <input type="checkbox" class="teachers__check teachers__check-seven" id="teachers__check-seven">
            <span class="teachers__descr">
              - Тренер по  чтению;<br>
              - Коррекционный педагог;<br>
              - Педагог по подготовке к школе;<br>
            </span>
            <label for="teachers__check-seven" class="teachers__label"></label>
          </li>


        </ul>
      </div>
    </div>
  </section>








